.Options {
  min-width: 400px;
  min-height: 400px;
}

.Options-button {
}

.Options-button--green {
  background-color: #3aa757;
}

.Options-button--red {
  background-color: #e8453c;
}

.Options-button--yellow {
  background-color: #f9bb2d;
}

.Options-button--blue {
  background-color: #4688f1;
}
