.PopUp {
  min-width: 100px;
  min-height: 100px;
}

.PopUp-button {
}

.PopUp-button--green {
  background-color: #3aa757;
}

.PopUp-button--red {
  background-color: #e8453c;
}

.PopUp-button--yellow {
  background-color: #f9bb2d;
}

.PopUp-button--blue {
  background-color: #4688f1;
}